---
import SiteLayout from '../layouts/SiteLayout.astro';
import Header from "~/components/header.astro";
// import Venue from "~/components/venue.astro";
// import Features from "~/components/features.astro";
// import Team from "~/components/team.astro";
// import Intro from "~/components/intro.astro";
import Intro2 from "~/components/intro2.astro";
// import Gains from "~/components/gains.astro";
// import Showcase from "~/components/showcase.astro";
// import Splash from "~/components/splash.astro";
import Splash2 from "~/components/splash2.astro";
// import Voices from "~/components/voices.astro";

const pageTitle = 'Home | Transformational Tango';
---
<SiteLayout title={pageTitle}>
    <Header />
    <Splash2 />
    <div class="space-y-24 px-8 py-32 max-w-7xl mx-auto">
      <Intro2 />
      <!-- <Gains /> -->
      <!-- <Voices /> -->
      <!-- <Features /> -->
      <!-- <Team /> -->
      <!-- <Venue /> -->
    </div>
</SiteLayout>
