---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
// import HeroImage from "~/components/hero-image.astro";
import BannerDancers from "~/components/banner-image.astro";
import Starfield from "~/components/starfield.astro";
import logo from "~/images/logo-andslogan-big.png";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative bg-black">
  <div class="absolute inset-1 overflow-hidden opacity-40">
    <BannerDancers />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-1">
    <div
      class="flex flex-col gap-2 sm:self-auto mt-20"
    >
    <!-- <Icon pack="simple-icons" name="bytedance" class="h-16 text-white" /> -->
    <div
        class="gradient-text font-['Milonga'] text-center font-black !leading-[1.16] tracking-tighter md:tracking-normal text-6xl md:text-9xl sm:text-6xl break-all"
      >
        Tickets
      </div>
    </div>
  </div>
</section>