---
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Embodiment",
    description:
      "Why tango has such a profound  effect on our health and personal growth. This will be useful if you have a practice of working with people in their personal journey and want to incorporate those healing aspects of tango in your practice.",
    icon: "mdi:handshake",
  },
  {
    title: "Presence",
    description:
      "Why tango has such a profound  effect on our health and personal growth. This will be useful if you have a practice of working with people in their personal journey and want to incorporate those healing aspects of tango in your practice.",
    icon: "mdi:feather",
  },
  {
    title: "Boundaries",
    description:
      "Why tango has such a profound  effect on our health and personal growth. This will be useful if you have a practice of working with people in their personal journey and want to incorporate those healing aspects of tango in your practice.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Intimacy",
    description:
       "Why tango has such a profound  effect on our health and personal growth. This will be useful if you have a practice of working with people in their personal journey and want to incorporate those healing aspects of tango in your practice.",
    icon: "mdi:graph",
  },
  {
    title: "Vulnerability",
    description:
       "Why tango has such a profound  effect on our health and personal growth. This will be useful if you have a practice of working with people in their personal journey and want to incorporate those healing aspects of tango in your practice.",
    icon: "mdi:search-web",
  },
  {
    title: "Community",
    description:
      "Why tango has such a profound  effect on our health and personal growth. This will be useful if you have a practice of working with people in their personal journey and want to incorporate those healing aspects of tango in your practice.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Learning" id="features">
  <Fragment slot="lead">
    You will learn a <span class="text-primary">fresh</span> approach to tango. 
    Whether you are a
    <span class="text-primary">therapist</span> with years of experience, a
    <span class="text-primary">tango teacher</span> or a dancer...
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description}) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
