---
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "You will trust yourself more",
    description:
      "This retreat is about learning how to generate your own sense of safety and being able to create a container where you trust who you are in the embrace and offer that energy to your partner or community. We learn how our body responds to perceived threats and what we can do about it.",
    icon: "mdi:handshake",
  },
  {
    title: "With powerful tools for life",
    description:
       "The retreat is packed with practices and exercises that you can bring to your own spaces and comunities. It is an education about the virtues of tango that deepens your presence and enriches your relationships and your connections. Simple and powerful tools for life.",
    icon: "mdi:graph",
  },
  {
    title: "And a fuller self-expression",
    description:
      "This retreat equips us with a framework which we can introduce to our comunity. It develops a language to express our emotional progress, our awarenes and readiness for life and in our dance. We learn powerful metaphors to better express ourselves through energy and imagination.",
    icon: "mdi:feather",
  },
  {
    title: "With more connection & intimacy",
    description:
       "On this retreat, we learn to connect in a safe container with our partners. We explore ways to respond and identify the impact we have on each other. On this retreat, we have the opportunity of experiencing safety and comfort in the embrace ultimately leading to more trust and intimacy.",
    icon: "mdi:search-web",
  },
  {
    title: "You will feel safer",
    description:
      "Healthy boundaries are not rigid walls that separate us. The concept of boundaries we explore and practise in this retreat has to do with points of agreement when meeting anybody on the dance floor. We learn how to assert boundaries in a way that creates connection and intimacy, rather than division or discord.",
    icon: "mdi:directions-fork",
  },
  {
    title: "And learn what drives you",
    description:
      "In tango we define our expression and convey our energy in many ways, and the most familiar is by adopting the roles of a leader or a follower. You will explore what other possibilities you have of embodying your dance and what drives you on the dance floor.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="You will learn" id="features">
  <Fragment slot="lead">
    A <span class="text-primary">fresh</span> approach to tango.<br /><br /> 
    Whether you are a
    <span class="text-primary">therapist</span> with years of experience, a
    <span class="text-primary">tango teacher</span> or a curious dancer...
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 gap-8 lg:gap-10">
    {
      features.map(({ title, description}) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
  <div class="relative h-full">
    <div class="flex flex-col self-end gap-8 sm:self-auto sm:justify-self-end text-offset">
      <img src="/images/dancers.jpg" />
      <p class="font-extrabold text-xl text-primary">OUR PRACTICE</p>
      <p>We are drawing from our experience on dancing and teaching tango and working in areas of personal development.</p>
      <p>This is a collaboration between two schools, <i>Dance in Conversation</i> and <i>Despertango</i>, putting together resources focused on relationships, authentic expression and spirituality.</p>
      <p>We are bringing our experience on relationship coaching and using tools like Family Constellations.</p>
      <p>This retreat benefits from our deep work and training on somatic therapy and embodiment practices. </p>
      <p>We are also drawing from our experience on ayurvedic philosophy, psychology, mysticism, as well as educational research.</p>
    </div>
  </div>
</ContentSection>
