---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import { Picture } from "@astrojs/image/components";
import dancersImage from "~/assets/dancers.jpg";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

---

<ContentSection title="A transformative journey" id="gains">
  <div class="relative h-full">
    <ul role="list" class="flex flex-col gap-8 self-end sm:self-auto sm:justify-self-end text-offset list-disc list-outside marker:text-red-500 lg:items-center">
      <li>Shift your dance from thinking and doing to being and trusting</li>
      <li>Reclaim the intelligence of your body and connect with it</li>
      <li>Develop a deep sense of safety on the dance floor and expand your capacity to hold space for others</li>
      <li>Deepen your ability to set clear boundaries</li>
      <li>Rediscover the power of setting intentions and move with purpose and trust</li>
      <li>Embrace the different parts of yourself that show up at any moment in your dance </li>
      <li>Explore all the roles available to you beyond leading and following</li>
      <li>Play with the elements that focus and empower your dance</li>
    </ul>
  </div>
</ContentSection>
