---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import { Picture } from "@astrojs/image/components";
import dancersImage from "~/assets/dancers.jpg";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

---

<ContentSection title="Save the date" id="intro">
  <!-- <Icon slot="eyebrow" pack="simple-icons" name="bytedance" class="h-32" /> -->
  <!-- <Fragment slot="lead">
    <span class="text-primary">Transformational Tango</span> is a new kind of
    <span class="text-primary">tango</span> training, where 
    <span class="text-primary">dancing </span>
    leads to <span class="text-primary">powerful</span> 
    personal growth and transformation.
  </Fragment> -->

  <div class="max-w-3xl text-center text-offset text-base">
  </div>
    <p class="max-w-3xl text-center text-offset text-base">
      This five-days course is designed to support your physical, emotional and spiritual development through Argentine Tango.</p>
    <p class="max-w-3xl text-center text-offset text-base">
      You will re-engage with the dance in a way that expands your capacity for connection with yourself, your partner and the wider community.</p>
        <p class="max-w-3xl text-center text-offset text-base">
          The space, in an idyllic venue in Malaga, will provide you with tools to cultivate a deeper presence on the dance floor 
          and walk through life with greater emotional awareness.</p>
        <p class="max-w-3xl text-center text-offset text-base">
          If you are a tango teacher, a coach or a therapist, or a curious dancer, and want to explore the possibilities of movement and dance to support 
      your own and others personal growth, this call is for you.</p>
      <p class="max-w-3xl text-center text-offset text-base">
      We will announce all the details of this journey very soon. In the meantime join the waitlist and be among the first to receive an invitation to apply.
  </p>
    <p class="max-w-3xl text-center text-offset text-base">APPLY</p>

    <div
      class="w-full self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Picture
        class="h-full w-full object-cover"
        src={dancersImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="Tango couple"
      />
    </div>


</ContentSection>
