---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import { Picture } from "@astrojs/image/components";
import dancersImage from "~/assets/dancers.jpg";
import team from "~/images/team.jpg";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

---

<ContentSection title="A transformative journey" id="intro">  
  <!-- <Icon slot="eyebrow" pack="simple-icons" name="bytedance" class="h-32" /> -->
  <!-- <Fragment slot="lead">
    Experience the
    <span class="text-primary">empowering</span> and
    <span class="text-primary">healing</span> virtues of 
    <span class="text-primary"> </span>Argentine Tango.
  </Fragment> -->

  <div class="relative grid h-full gap-16 md:grid-cols-2">

    <!-- COL 1 -->
    <div class="flex flex-col gap-2 self-end gap-8 sm:self-auto sm:justify-self-end text-offset">
      <p>This is a 5 day course designed to experience the 
        <span class="text-primary font-bold">empowering and healing virtues</span> of Argentine Tango.</p>
      <p>It is a journey to expand your capacity for connection with yourself, your partner and the wider community around you.</p>
      <p>We have selected a welcoming, idyllic retreat center in Malaga, to help you explore 
        <span class="text-primary font-bold">your deeper presence</span> on the dance floor.
      <p>This experience has the potential to spread 
        <span class="text-primary font-bold">beyond the dance</span> 
        and lead you to walk through life with intention, trust in your steps, relating with openness and healthy boundaries.</p>
      <p>On this course, with the focus on being rather than doing -connection rather than technique- tango will become effortless and you will gain resources to be a 
        more aware and capable person, able to regulate and balance your emotional reactions and actions.</p>
      <p>Regardless of your dancing level, if you are a therapist, coach, tango teacher or a curious dancer, and want to 
        <span class="text-primary font-bold">dive into the possibilities</span> of movement and dance to support 
      your own and others' personal transformation, this call is for you.</p>
    </div>

    <!-- COL 2 -->
    <div class="flex flex-col gap-24 self-end sm:self-auto sm:justify-self-start justify-between mx-auto">
      <div class="flex flex-col gap-8 text-center">
        <p>This event has passed. Tickets are no longer available.</p>
        <p>4th - 9th of February 2024 <br />
        Malaga, Spain</p>
      </div>

      <iframe src="https://embeds.beehiiv.com/7d5fe6af-e111-41e3-8d8a-b69e5b834443" 
        data-test-id="beehiiv-embed" width="100%" height="320" frameborder="0" scrolling="no" 
        style="border-radius: 4px; border: 2px solid #e5e7eb; margin: 2rem 0 0; background-color: transparent;">
      </iframe>
              
    </div>
  </div>

</ContentSection>
