---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import { Picture } from "@astrojs/image/components";
import dancersImage from "~/assets/dancers.jpg";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

---

<ContentSection title="The Journey" id="intro">
  <!-- <Icon slot="eyebrow" pack="simple-icons" name="bytedance" class="h-32" /> -->
  <!-- <Fragment slot="lead">
    <span class="text-primary">Transformational Tango</span> is a new kind of
    <span class="text-primary">tango</span> training, where 
    <span class="text-primary">dancing </span>
    leads to <span class="text-primary">powerful</span> 
    personal growth and transformation.
  </Fragment> -->

  <div class="relative grid h-full gap-8 sm:grid-cols-2">

    <div class="flex flex-col gap-2 self-end sm:gap-8 sm:self-auto sm:justify-self-end text-offset sm:w-10/12">
      <p>This is a 5 day course designed to support your physical, emotional and spiritual development through Argentine Tango.</p>
      <p>It is a journey and an invitation to expand your capacity for connection with yourself, your partner and the wider community around you.</p>
      <p>To make it happen, we have selected an idyllic venue in Malaga, to create a safe space for 
        you to discover a deeper presence on the dance floor.
      <p>The experience has the potential to spread beyond the dance and lead you to walk through life with greater emotional awareness.</p>
      <p>If you are a tango teacher, a coach, a therapist, or a curious dancer, and want to explore the possibilities of movement and dance to support 
      your own and others personal growth, this call is for you.</p>
      <p>
      We will announce all the details of this journey very soon. In the meantime join the waitlist and be among the first to receive an invitation.
      </p>
    </div>
    <div class="w-1/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start mb-24">
        <p class="max-w-3xl text-offset text-base pl-4 font-bold text-2xl">Keep me informed</p>

        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup .mc-field-group input {padding: 18px 10px !important;}
          #mc-embedded-subscribe {margin: 0 !important;}

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
            <form action="https://danceinconversation.us17.list-manage.com/subscribe/post?u=6a6529403b261e63b16bb75ba&amp;id=6e15355110&amp;f_id=00aa4ae0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                
                    <div class="flex flex-row">
                        <div class="child-input">
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" required>
                                <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                            </div>
                            <div hidden="true"><input type="hidden" name="tags" value="6506033"></div>
                            <div id="mce-responses" class="clear foot">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6a6529403b261e63b16bb75ba_6e15355110" tabindex="-1" value=""></div>
                        </div>
                        <div class="optionalParent">
                            <div class="clear foot">
                                <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-submit text-white">
                            </div>
                        </div>
                    </div>
                    <p class="brandingLogo"><a href="http://eepurl.com/g6ti6f" target="_blank" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
              </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='imageurl';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
    </div>
  </div>

</ContentSection>
