---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import HeroImage2 from "~/components/hero-image2.astro";
import Starfield from "~/components/starfield.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <div class="absolute inset-1 overflow-hidden opacity-40">
    <HeroImage2 />
  </div>
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-1">
    <div
      class="flex flex-col gap-2 sm:self-auto mt-40"
    >
    <!-- <Icon pack="simple-icons" name="bytedance" class="h-16 text-white" /> -->
    <div
        class="gradient-text font-['Milonga'] text-center font-black !leading-[1.16] tracking-tighter md:tracking-normal text-6xl md:text-9xl sm:text-6xl break-all"
      >
        Transformational <br />TANGO
      </div>
      <!-- <div class="gradient-text text-center font-extrabold !leading-normal text-4xl">Training</div> -->
      <div class="text-white text-center text-lg md:text-xl max-w-xl mx-auto mt-4 px-12 !leading-tight md:leading-tight">
        Experience the empowering and healing 
        virtues of Argentine Tango
      </div>
      <div class="text-white text-center"> 
       <br />
        March 2024
        <br />
        Malaga, Spain        
      </div>
      <a
        href="/"
        class="text-white inline-flex items-center justify-center gap-3 border-2 border-current px-6 py-4 mx-auto mt-4"
      >
        Join the Waitlist
      </a>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
