---
import ContentSection from "~/components/content-section.astro";
import jesus from "~/images/tt-jesus3.jpg";
import ennio from "~/images/tt-ennio.jpg";
import ieva from "~/images/tt-ieva3.jpg";
---

<ContentSection title="The Team" id="team">
  <Fragment slot="lead">
    Get to know the <span class="text-primary">lead facilitators</span>.
  </Fragment>
    <div class="grid grid-cols-1 md:grid-cols-auto-2 gap-16 border-b-4 border-black-300 pb-8">
        <img src={ennio.src} alt="" class="p-2 bg-secondary">
        <div class="flex flex-col self-start gap-4 sm:self-auto sm:justify-self-start text-offset">
          <p class="font-extrabold text-xl">Ennio Fioramonti</p>
          <p class="text-offset text-sm font-bold">Facilitator</p>
          <p class="text-offset text-sm">
          Ennio Fioramonti is a Tango Maestro with a passion for personal development, 
          and over three decades of tango experience. Ennio lived several years in Buenos Aires, 
          which changed the way he connects in tango and in life. He has taught tango in France, Germany, 
          Italy, and Spain.</p>
          <p class="text-offset text-sm">
          Ennio has also earned degrees in biology and psychology. While leading groups for personal 
          development in Italy, Argentina, and Spain, he was using transformative tools 
          such as Family Constellations and the analysis of Archetypes.</p>
          <p class="text-offset text-sm">
          Tango and psychology transformed his way of seing tango, which resulted in the unique project 
          “Despertango”. Born in Argentina alongside Adriana Mazzotta, it seamlessly intertwines tango 
          with the realms of psychology and archetypes. This transformative initiative aims to connect 
          the body with emotions and expression, allowing individuals to explore themselves 
          through tango and to connect deeply with the other in an authentic way.</p>
          <p class="text-offset text-sm">
          As the organizer of two lively milongas and a practica in Malaga, Spain, Ennio fosters 
          a nurturing environment where dancers of all levels can come together, share their love 
          for tango, and embark on a profound journey of authentic self-expression.</p>
          <p class="text-offset text-sm">
          In a lot of ways, tango has become the catalyst for a profound transformation in his life. 
          It has guided him away from the pursuit of security, leading him towards a more intuitive 
          and joyous existence. Moreover, tango has bestowed upon him remarkable encounters, 
          including the serendipitous union with the woman who would become his life companion.</p>
          <p class="text-offset text-sm">
            <a href="https://www.despertango.com" target="_blank" class="text-primary">www.despertango.com</a>
          </p>
        </div>
      </div>       

     <div class="grid grid-cols-1 md:grid-cols-auto-2 gap-16 border-b-4 border-black-300 pb-8">
      <div class="flex flex-col self-start gap-4 sm:self-auto sm:justify-self-start text-offset">
        <p class="font-extrabold text-xl">Ieva Kelpsaite</p>
        <p class="text-offset text-sm font-bold">Facilitator</p>
        <p class="text-offset text-sm">
        I am a relationship coach and a tango dancer.</p>
        <p class="text-offset text-sm">
        In tango we often start our journey with developing our physical and technical abilities to be able to dance. However as a relationships coach 
        I have discovered and focusing exclusively physical development  is not enough. Learning tango often involves emotional and spiritual aspects of our development, 
        therefore to be able to know how to support it is essential to enable a fulfilling and enriching tango journey for our tango communities. 
        When we are able to respond to student’s emotional and spiritual needs, their learning journey can not only be faster, but healing in many ways as well. </p>
        <p class="text-offset text-sm">
        With my background in coaching and supporting people from all walks of life, 
        I bring a holistic approach to supporting individuals as well as couples in their learning process in tango.</p>
        <p class="text-offset text-sm">
          <a href="https://ievakelpsaite.com" target="_blank" class="text-primary">ievakelpsaite.com</a>
        </p>
      </div>                   
      <img src={ieva.src} alt="" class="p-2 bg-secondary order-first md:order-last">
      </div>

     <div class="grid grid-cols-1 md:grid-cols-auto-2 gap-16 border-b-4 border-black-300 pb-8">
        <img src={jesus.src} alt="" class="p-2 bg-secondary">
        <div class="flex flex-col self-start gap-4 sm:self-auto sm:justify-self-start text-offset">
          <p class="font-extrabold text-xl">Jesus Acosta</p>
          <p class="text-offset text-sm font-bold">Facilitator</p>
          <p class="text-offset text-sm">
          Jesus co-founded Dance in Conversation in 2020. It was a moment when all dances came to a standstill and a space for verbal expression and sharings become a necessity 
          in the tango community. For him it was about co-creating and sharing his own musings coming from dancing and intentional movement.</p>
          <p class="text-offset text-sm">
          Since then, Jesus embraced tango as a source of inspiration for living his life. He believes that learning and practicing tango can lead us to walk with purpose.</p>
          <p class="text-offset text-sm">
          For more than a decade, he worked for the BBC and media outlets, nurturing a talent to find stories and reach people, but it was the years he spent in a monastery in Mexico, where he learnt to sense and inhabit that wondrous energy that connect us all and makes us better dancers.</p>
          <p class="text-offset text-sm">
          Embodying that energy more consciously is his current endeavour, immersing himself fully in an intense training on somatic therapy and embodied intimacy.</p>
          <p class="text-offset text-sm">
          On a good day, he celebrates life like a baby wolf howling to the moon. When things get rough, he needs his twin, his beloved, and the nourishment of his community to get him back on track.</p>
          <p class="text-offset text-sm">
            <a href="https://www.danceinconversation.co.uk" target="_blank" class="text-primary">www.danceinconversation.co.uk</a>
          </p>
        </div>
      </div>        
    </div>
</ContentSection>
